.numberOfPlayer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-size: 30px;
    color:#FDCA7A;
    font-family: sans-serif;

}
.playerSelectcontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-size: 30px;
    color: #FDCA7A;
    font-family: sans-serif;
}
.playerSelect
{
    /* background-color: rgba(255, 255, 255, 0.856); */
    margin: 40px;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(213, 234, 238, 0.432);
    
}
.container{
    font-size: 80px;
    color:#FDCA7A;
    font-family: sans-serif;
    background-color:#293745;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    height: 450px;
    width: 450px;
    box-shadow: 0 0 10px 5px rgba(116, 114, 113, 0.432);
    display: flex;
    flex-direction: column;
}
.row{
    flex: 1;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.box{
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    padding: 25px;
    /* background-color: #FFFFFF; */
    cursor: pointer;
    /* padding: 70px  */
}
.middleRow{
    box-sizing: border-box;
    border: 4px solid black;
}
.middleRow2{
    box-sizing: border-box;
    border-left: 4px solid #CCCCCC;
    border-right: 4px solid #CCCCCC;
}
.middleRow4{
    box-sizing: border-box;
    border-top: 4px solid #CCCCCC;
    border-bottom: 4px solid #CCCCCC;
}
.middleRow6{
    box-sizing: border-box;
    border-top: 4px solid #CCCCCC;
    border-bottom: 4px solid #CCCCCC;
}
.middleRow8{
    box-sizing: border-box;
    border-left: 4px solid #CCCCCC;
    border-right: 4px solid #CCCCCC;
}
.centerBox{
    box-sizing: border-box;
    border: 4px solid #CCCCCC;

}